<%- include('layout/head.ejs')%>
</head>
</head>

<body>

<%- include('layout/navigation.ejs')%>
<main>
    <h2 class="error">Erreur : ressource inconnue</h2>
</main>

<%- include('layout/footer.ejs')%>
</body>
</html>