<%- include('layout/head.ejs')%>
</head>

<body>
<%- include('layout/navigation.ejs')%>
<h2>Formulaire</h2>
<main>
    <form action="auth" name="auth" method="post">
        <label for="login">Login</label>
        <input type="text" id="login" name="login">
        <label for="mdp">Mot de passe</label>
        <input type="text" id="mdp" name="mdp">
        <button type="submit">OK</button>
    </form>
<p class="error"><%= msgErreur%></p>

</main>

<%- include('layout/footer.ejs')%>

</body>
</html>