<%- include('layout/debut.ejs')%>
</head>

<body>
<header>
    <%- include('layout/navigation.ejs')%>
</header>
<main>
    <div class="main-container">
        <h1>Erreur 404</h1>
    </div>
</main>
<%- include('layout/fin.ejs')%>
