<%- include('layout/debut.ejs')%>
    <script src="events.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
<header>
    <%- include('layout/navigation.ejs')%>
</header>
<main>
    <div class="main-container">
        <h1>Formulaire d'emprunt</h1>

        <div class="form-container">
            <form action='/form' method='post'>
                <input type='number' name='capital' placeholder='capital'>
                <input type='number' name='taux' placeholder='taux'>
                <input type='number' name='annees' placeholder='annees'>
                <input type='number' name='mois' placeholder='mois'>

                <button type='submit'>Calculer</button>
            </form>
        </div>

    </div>
</main>
<%- include('layout/fin.ejs')%>