<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/form">Emprunt</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Deco</a></li>
    </ul>
</nav>