<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/form">Emprunt</a></li>
        <li><a href="/game">Game</a></li>
        <% if(connect=="connecté"){%>
            <li><a href="/logout">Logout</a></li>
        <%}
        else{%>
        <li><a href="/login">Login</a></li>
        <%}%>
    </ul>
</nav>