<header>
    <h1>Une application WEB avec express</h1>
    <nav>
        <div>
            <li><a href="/">Accueil</a></li>
            <li><a href="/form">Formulaire</a></li>
        </div>
        <% if(login){%>
            <div>
                <li><a href="/logout" class="nav-right">Disconnect</a></li>
            </div>
        <%}%>
    </nav>
</header>